{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-9">
    <h3 class="text-white my-5">About Page</h3>
    <h5>this is for 5nd commit</h5>
    <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, et!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis,
        qui voluptatum iste in blanditiis totam voluptatem saepe magnam sapiente porro!
    </p>
    <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, et!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis,
        qui voluptatum iste in blanditiis totam voluptatem saepe magnam sapiente porro!
    </p>
</div>


{% endblock content %}
